<div class="l-content tweet-grid">
  <% @presenter.custom_tweets.each do |t| %>
    <% if t.image.present? %>
      <div class="tweet"><%= link_to (image_tag t.image), t.image, class: 'nerdbox' %></div>
    <% end %>
  <% end %>
</div>

