<header id="header" class="">
  <div class="l-logo">
    <%= link_to image_tag('tall.jpg', style:'width: 100px;'), '/dave' %>
    <p>Dave Woodall <small style='font-size:18px'><%= link_to '@wwwoodall', 'http://www.twitter.com/wwwoodall', target: '_blank' %></small></p>
  </div>
  <div class="l-nav">
    <div class="title">
      <p>menu</p>
    </div>
    <nav>
      <ul>
        <li><a href="/dave" title="">home</a></li>
        <li><a href="/themes/lewis/about" title="">about</a></li>
        <li><a href="/themes/lewis/contact" title="">contact</a></li>
        <li><a href="/themes/lewis/shop" title="">shop</a></li>
      </ul>
      <hr>
      <ul>
        <li><a href="/themes/lewis/boats" title="">#boats</a></li>
        <li><a href="" title="">#faith</a></li>
        <li><a href="" title="">#rants</a></li>
        <li><a href="" title="">#art</a></li>
      </ul>
    </nav>
  </div>
</header><!-- /header -->
