<footer>
  <nav>
    <ul>
      <li><a href="/themes/lewis" title="">home</a></li>
      <li><a href="/themes/lewis/about" title="">about</a></li>
      <li><a href="/themes/lewis/contact" title="">contact</a></li>
    </ul>
    <ul>
      <li><a href="/themes/lewis/boats" title="">#boats</a></li>
      <li><a href="" title="">#faith</a></li>
      <li><a href="" title="">#rants</a></li>
      <li><a href="" title="">#art</a></li>
    </ul>
  </nav>
</footer>
