<div class="l-container">
  <%= render 'themes/lewis_header' %>
  <div class="l-wrapper">
    <div class="l-content">
      <div class="list">
        <div class="item">
          <%= link_to 'themes/lewis/boats' do %>
          <div class="title">
            <h1>#boats</h1>
          </div>
          <div class="sub-title">
            notes about boats
          </div>
          <% end %>
        </div>
        <div class="item">
          <div class="title">
            <h1>#faith</h1>
          </div>
          <div class="sub-title">
            Everything begins with the Creator
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h1>#rant</h1>
          </div>
          <div class="sub-title">
            views about random things
          </div>
        </div>
        <div class="item">
          <div class="title">
            <h1>#art</h1>
          </div>
          <div class="sub-title">
            some of my work
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'themes/lewis_footer' %>
</div>
