<div class="l-container">
  <header id="header" class="">
    <div class="l-logo">
      <%= image_tag 'logo.gif', style:'width: 100px;' %>
      <p>lewis</p>
    </div>
    <div class="l-nav">
      <div class="title">
        <p>menu</p>
      </div>
      <nav>
        <ul>
          <li><a href="/themes/lewis" title="">home</a></li>
          <li><a href="" title="">about</a></li>
          <li><a href="" title="">contact</a></li>
          <li>----------</li>
          <li><a href="" title="">#books</a></li>
          <li><a href="" title="">#faith</a></li>
          <li><a href="" title="">#rants</a></li>
          <li><a href="" title="">#art</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- /header -->
  <div class="l-wrapper">
    <div class="l-content">
      <div class="list">
        <div class="item">
          <div class="title">
            <h1>#boats</h1>
          </div>
          <div class="sub-title">
            notes about boats
          </div>
        </div>
        <div class="tweets">
          <div class="tweet">
            <div class="image">
              <%= image_tag 'boat.png' %>
            </div>
            <div class="text">
              <p>
                this is a tweet about a book quote that I love.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title="May 15, 5:03 pm">May 15, 5:03 pm</a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag 'boat.png' %>
            </div>
            <div class="text">
              <p>
                this is a tweet about a book quote that I love.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title="May 15, 5:03 pm">May 15, 5:03 pm</a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
          <div class="tweet">
            <div class="image">
              <%= image_tag 'boat.png' %>
            </div>
            <div class="text">
              <p>
                this is a tweet about a book quote that I love.
              </p>
            </div>
            <div class="actions">
              <div class='details'><a href="" title="details">details</a></div>
              <ul class='btns'>
                <li><a href="" title="May 15, 5:03 pm">May 15, 5:03 pm</a></li>
                <li><a href="" title="reply">reply</a></li>
                <li><a href="" title="retweet">retweet</a></li>
                <li><a href="" title="favorite">favorite</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
