<div class="l-container">
  <%= render 'themes/lewis_header' %>
  <div class="l-wrapper">
    <div class="l-content">
      <div class="list">
        <div class="item">
          <div class="title">
            <h1>About</h1>
          </div>
          <div class="image">
            <%= image_tag 'dave.png' %>
          </div>
        </div>
        <div class="tweets">
          <div class="tweet">
            <div class="text">
              <h4>#about</h4>
              <p>
                If we are to be born again, does that mean we're currently in the second womb?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'themes/lewis_footer' %>
</div>
