<h1>Contact <%= @username %></h1>
<p>
  <% @contact_tweets.each do |t| %>
    <span>email: </span>
    <%= link_to tweet_path(t), target: '_blank' do %>
      <%= only_text(t.text) %>
      <% if  t.image.present? %>
        <i class="fa fa-camera-retro"></i>
      <% end %>
    <% end %>
    &nbsp;
  <% end %>
</p>
