<div class="l-container">
  <%= render 'themes/lewis_header' %>
  <div class="l-wrapper">
    <div class="l-content">
      <div class="list">
        <% @hashtags.each do |h| %>
          <div class="item">
            <p><%= link_to h, "/#{@username}/#{h}" %></p>
          </div>
          <% end %>
      </div>
    </div>
  </div>
  <%= render 'themes/lewis_footer' %>
</div>
