<h1>@<%= @username %>'s hashtags</h1>
<% @presenter.tweets_on_index_page.each do |h| %>
  <div class="item">
    <%= image_tag h.image if h.image.present? %>
    <%= CustomTweetsPresenter.hashtags(h.hashtags) %>
  </div>
<% end %>
