<%# TODO add a loading button %>
<!-- _dw TODO create a greeting presenter -->
<nav>
  <div class="logo">
    <%= image_tag 'logo.gif' %>
  </div>
  <div class="from">
    <%= render 'form' %>
  </div>
  <ul>
    <li><a href="http://www.hashpage.me" title="home">home</a></li>
  </ul>
</nav>
<%= render partial: 'fetchers/show/banner' %>
