<%# TODO add a loading button %>
<p id="notice"><%= notice %></p>
<!-- _dw TODO create a greeting presenter -->
<div class="l-container">
  <section class='side-bar l-sidebar'>
    <div class="bio">
      <div class="profile-pic">
        <%= image_tag @profile_pic %>
      </div>
      <div class="handle">
        <%= @fetcher.username %>
      </div>
    </div>
    <div class="trends">
      <h2>trends</h2>
      <ul>
        <li>#bam</li>
        <li>#foo</li>
        <li>#bar</li>
      </ul>
    </div>
  </section>
  <ul class="accordion-tabs-minimal l-content">
    <li class="tab-header-and-content is-active">
      <a href="#" class="tab-link">retweeted by others</a>
      <div class="tab-content">
        <section>
          <% @retweets.each do |tweet| %>
            <div class='tweet'>
              <p><%= tweet.text %></p>
            </div>
          <% end %>
        </section>
      </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">favorited by others</a>
      <div class="tab-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
      </div>
    </li>
  </ul>
</div>
