<%# TODO add a loading button %>
<!-- _dw TODO create a greeting presenter -->
<nav class='show-nav'>
  <ul>
    <li><a href="/" title="by hashPage">by hashPage</a></li>
  </ul>
</nav>
<%= render partial: 'fetchers/show/banner' %>
