<header id="header" class="">
  <div class="l-nav">
    <div class="title">
      <%= image_tag 'tall.jpg' %>
      <h1><%= link_to 'Dave Woodall', "http://www.twitter.com/#{@username}", target: '_blank' %></h1>
    </div>
    <%= render 'partials/nav_list' %>
  </div>
</header><!-- /header -->
