<div class='banner'>
  <div class="image">
    <%= image_tag 'http://pbs.twimg.com/media/B9xs-vFCAAAeFNJ.jpg' %>
    <div class='username'>
      <%= @fetcher.username %>
    </div>
  </div>
  <div class="text">
    Son, this is excite bike. http://t.co/4exlXLY1WLY
  </div>
</div>
