<div class='footer'>
  <div class="text">
    This is a static tweet. But soon it will be here from #f
  </div>
  <div class="image">
    <%= image_tag 'http://pbs.twimg.com/media/B9xs-vFCAAAeFNJ.jpg' %>
  </div>
</div>
