  <section class='side-bar l-sidebar'>
    <div class="popular">
      <%= link_to 'popular' %>
    </div>
    <hr>
    <div class="trends">
      <ul>
        <li>coming soon</li>
      </ul>
    </div>
  </section>
