.show-nav {
  position: absolute;
  z-index: 999;
  right: 1em;
  bottom: 0.5em;
}

.banner {
  @include row();
  position: relative;

  .image {
    @include media($medium-screen) {
      @include span-columns(7);
    }
    img {
      width: 100%;
    }
  }

  .username {
    color: white;
    position: absolute;
    bottom: 4em;
    left: 0.5em;
    font-size: 1.2em;
    @include media($medium-screen) {
      font-size: 2em;
      bottom: 0.1em;
      left: 1em;
    }
  }

  .text {
    padding: 0.5em;
    font-size: 1em;
    @include media($medium-screen) {
      @include span-columns(5);
      padding-top: 12em;
      text-align: center;
      font-size: 1.4em;
    }
  }

  .text-banner {
    padding: 1em;
    font-size: 2em;
    text-align: center;
    @include media($medium-screen) {
      padding: 3em;
      font-size: 3em;
    }
  }
}

.no-tweets {
  margin-top: 3em;
  padding: 3em;
  color: #666666;
  border: 1px solid #DADADA;
  background: #F8F8F8;
  border-radius: 5px;
  h1 {
      font-size: 1.5em;
    font-weight: 400;
    .sub-hero {
      font-weight: 300;
      font-size: 0.75em;
    }
  }
  h2 {
    font-size: 1em;
    margin: 1em 0;
    @include media($medium-screen) {
      margin: 0;
      font-size: 3em;
    }
  }
  .b { color: #FF4D1D; }

  .example-banner-tweet {
    padding: 1em;
    border: 1px solid #eee;
    background: white;
    border-radius: 5px;
    color: #004080;
    font-style: italic;
    margin-bottom: 1em;
    @include media($medium-screen) {
      margin: 1em;
      font-size: 1.7em;
    }
  }
  p {
    font-size: 1em;
    @include media($medium-screen) {
      font-size: 1.5em;
    }
  }
}
.about-hp {
  margin-top: 1em;
  color: #929292;
}

.pitch {
  text-align: center;
}

.promo {
  width: 100%;
  position: absolute;
  top: 0;
  height: 120em;
  left: 0;
  z-index: 100;
  background: rgba(0, 63, 127, 0.7);
  opacity: 0.5;
}

.fake-page {
  .banner {
    background: white;
    .username {
      color: #28476D;
    }
  }
  .text {
    @include media($medium-screen) {
      text-align: left;
      padding: 7em 0.4em 4em;
      font-size: 1.8em;
      height: 100%;
    }
  }
  .tweets {
    @include row;
    padding-left: 3em;
    aside {
      @include media($medium-screen) {
        @include span-columns(3);
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 2em;
        margin-top: 3em;
      }
    }
    .content {
      @include media($medium-screen) {
        min-height: 400px;
        padding: 3em 4em;
        @include span-columns(9);
      }
    }
  }
}
