@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

h1,
h2,
h3,
h4,
p {
  font-family: 'Lato';
}

h1 { font-weight: 900 }

h3 {
  font-weight: 700;
  font-size: 1.8em;
  @include media($medium-screen) {
    font-size: 4em;
  }
}

p {
  font-weight: 300;
  font-size: 1.2em;
  @include media($medium-screen) {
    font-size: 1.8em;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: 'lato', sans-serif;
}

.hero {
  background-image: -webkit-linear-gradient(135deg,  #8722EC, #00DBDB);
  background-image: -mox-gradient(135deg,  #8722EC, #00DBDB);
  background-image: linear-gradient(to bottom,#8722EC, #00DBDB);
  padding-bottom: 5em;

  nav {
    padding: 1em 1em 4em 0;
    ul { text-align: right;}
    li { display: inline-block; }
    a {
      color: white;
      margin: 0 1em;
    }

  }

  .text {
    color: white;
    text-align: center;
    img {
      width: 20%;
      @include media($medium-screen) {
        width: 7%;
      }
    }

    h2 {
      font-size: 2.75em;

      @include media($medium-screen) {
        font-size: 5em;
      }
    }

    p {
      margin: 0; padding: 0;
      font-size: 1.8em;

      @include media($medium-screen) {
         font-size: 2.5em;
      }
    }
  }
}

.form {
  border-top: 2px solid #7F7F7F;
  padding: 3em;
  overflow: auto;
  background-image: -webkit-linear-gradient(90deg,  #CCCCCC, #eee);
  background-image: linear-gradient(to bottom,#999999, #00DBDB);

  width: 100%;
  .form-contents {
    @include media($medium-screen) {
      margin-left: 20%;
    }
   }
  input[type='text'] {
    font-family: 'Lato';
    @include media($medium-screen) {
      float: left;
      width: 15em;
      margin-right: 1em;
      padding: 0.8em;
      font-size: 2em;
    }
  }

  input[type="submit"] {
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    width: 100%;
    @include media($medium-screen) {
      width: 30%;
      font-size: 3em;
      padding: 0.45em 2em;
      background: #8722EC;
    }
    &:hover {
      background: #691CB7;
    }
  }
}

.row {
  @include row;
  padding: 3em;
}

.big {
  @include media($medium-screen) {
    @include span-columns(7);
  }
}
.small {
  @include media($medium-screen) {
    @include span-columns(5);
  }
}

.manual {
  .title {
    text-align: center;
    @include media($medium-screen) {
      font-size: 3em;
      padding: 2em 2em 0;
    }
  }
}
