<div class="tweet animated fadeIn">
  <div class="image">
    <%= image_tag '1.jpg' %>
  </div>
  <div class="hashtag">
    <h1>#boats</h1>
  </div>
  <div class="text">
    <p>notes about boats</p>
  </div>
  <div class="action">
    <%= link_to 'May 17, 2015' %>
  </div>
</div>
