<div class="l-wrapper">
  <div class="l-content">
    <div class="tweets">
        <%= render 'hashpages/tweet' %>
        <%= render 'hashpages/tweet' %>
        <%= render 'hashpages/tweet' %>
    </div>
  </div>
</div>

