.tweet {
  @include media($medium-screen) {
    @include span-columns(4);
    height: 220px;
    overflow: hidden;
    @include omega();
    max-height: 220px;
    border-radius: 4px;
    margin-bottom: 2em;
    margin-right: 1.1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.tweet img {
  @include media($medium-screen) {
    margin-top: -20px;
  }
}
